<div class="groupcontainer">
  <span class="float-right group btn-group options" *ngIf="!editing">
    <button class="btn btn-link button-icon" (click)="addNewChild()" *ngIf="!isChild"><i class="fa fa-icon fa-plus" ></i></button>
    <button class="btn btn-link button-icon" (click)="startEdit()"><i class="fa fa-icon fa-pen" ></i></button>
    <button class="btn btn-link danger button-icon" (click)="delete()"><i class="fa fa-icon fa-trash" ></i></button>
  </span>
  
  
    <!-- TITLE IN NO-EDIT-MODE-->
  <div class="h6 group p-3 nav-item mb-0 " [class.parent]="!isChild" *ngIf="!editing">
      <div class="ml-2">
        {{entity.name ? entity.name : entityType.toUpperCase() + '.UNTITLED' + (isChild ? '_CHILD' : '') | translate}}
      </div>      
      <div class="ml-2 small hint" *ngIf="entity.summary">
        {{entity.summary}}
      </div>
  </div>

  <!-- EDIT TITLE-->
  <div *ngIf="editing" class="form-inline inline-editing m-0 p-1">
    <div class="modal-mask"></div>
    <div class="border bg-white rounded pt-3 pb-3">
      <div class="form form-group w-100 p-1">
        <div><app-image-upload [baseEntity]="entity" [entityType]="entityType"></app-image-upload></div>
        <div><small class="form-text text-muted" translate>NAME_HINT</small></div>
        <input class="form-control w-100" type="text" [(ngModel)]="currentNameValue"/>
      </div>
      <div class="form form-group w-100 p-1">
        <div><small class="form-text text-muted" translate>SUMMARY_HINT</small></div>
        <input class="form-control pr-0 w-100" type="text" [(ngModel)]="currentSummaryValue" />
      </div>
      <div class="button-group mt-1 w-100 p-1">
        <button class="btn btn-primary" (click)="update()">
          <i class="fa fa-icon fa-check"></i>
        </button>
        <button class="btn btn-primary" (click)="cancelUpdate()">
          <i class="fa fa-icon fa-times"></i>
        </button>
      </div>
    </div>
  </div> 
</div> 