<div class="container pt-5">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6" *ngIf="saved">
      <h1 class="h3 my-3" translate>SETTINGS.SAVED_HEADER</h1>
      <div class="lead text-muted mb-5" translate>SETTINGS.SAVED_HINT</div>
      <div><a class="btn btn-link btn-lg" [routerLink]="'/'" translate>SETTINGS.GO_TO_PROJECTS</a></div>
    </div>
    <div class="col-6" *ngIf="!saved">
      <h1 class="h3 my-3" translate>SETTINGS.HEADER</h1>
      <div class="lead text-muted mb-5" translate>SETTINGS.HINT</div>
  
      <form #settingsForm="ngForm">
          <div class="form-group">
          <label for="name" translate>SETTINGS.PROJECT_DB_PATH</label>
          <input class="form-control" id="name"  webkitdirectory directory required  [(ngModel)]="dbpath" name="dbpath">
          <small class="text-muted form-text" translate>SETTINGS.PROJECT_DB_PATH_HINT</small>
        </div>
    
        <div class="form-group">
            <label for="summary" translate>SETTINGS.EXPORT_PATH</label>
            <input class="form-control" id="summary" webkitdirectory directory  required [(ngModel)]="exportpath" name="exportpath">
            <small class="text-muted form-text" translate>SETTINGS.EXPORT_PATH_HINT</small>
          </div>
  
  
          <div class="">
            <button class="btn btn-primary btn-lg" [disabled]="!dbpath||!exportpath" (click)="save()" translate>SETTINGS.SAVE</button>
          </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>

    </div>