<div class="container">
    <form #settingsForm="ngForm">
        <div *ngIf="errorMessage" class="alert alert-danger" translate>ERROR.{{errorMessage}}</div>

        <div class="form-group">
        <label for="name" translate>SETTINGS.PROJECT_DB_PATH</label>
        <input type="text" class="form-control" id="name"  webkitdirectory directory required  [(ngModel)]="dbpath" name="dbpath">
      </div>
  
      <div class="form-group">
          <label for="summary" translate>SETTINGS.EXPORT_PATH</label>
          <input type="text" class="form-control" id="summary" webkitdirectory directory  required [(ngModel)]="exportpath" name="exportpath">
        </div>


        <div class="">
          <button class="btn btn-primary" (click)="save()">SETTINGS.SAVE</button>
        </div>
    </form>
    </div>