

<div class="vertical-bar" cdkDropList [cdkDropListData]="entities" (cdkDropListDropped)="dropGroup($event)">

  <!-- ADD NEW GROUP-->
  <button (click)="addNewParentEntity()" class="btn btn-link btn-lg">
    <i class="fas fa-icon fa-plus pr-1"></i>
    {{'' + entityType + '.NEW' | uppercase | translate}}
  </button>


  <!--ITERATE AL GROUPS-->
  <div *ngFor="let group of this.entities" cdkDropListGroup cdkDrag [cdkDragData]="group" >

    <div class="parent navitem clickable pl-0" (click)="toggle(group)">

      <div class="d-flex align-items-center">
      <span class="pl-3 flex-none" >
        <i class="fa fa-icon fa-chevron-down" *ngIf="visible(group)"></i>
        <i class="fa fa-icon fa-chevron-right" *ngIf="!visible(group)"></i>       
        
      </span>
      <app-inline-edit class="flex-auto"
        [entity]="group" [entityType]="entityType" [isChild]="false"
        (onUpdate)="onParentUpdate(group)" (onNewChild)="onNewChild(group)" (onDelete)="onParentDelete(group)"
      ></app-inline-edit>  

      </div>
   
    </div>


      <!-- GROUP MEMBERS-->
      <div class="nav flex-column w-100 clickable" [class.hidden]="!visible(group)" id={{group.id}}  
          cdkDropList          
          [cdkDropListData]="group.children" 
          (cdkDropListDropped)="dropItem($event)"
          [cdkDropListConnectedTo]="getConnectedList()">
        
        <!--Empty dummy icon to make dragging to empty containers possible-->
        <div class="navitem entity groupcontainer child pl-0" *ngIf="!group.children?.length" cdkDrag >&nbsp;</div>
     
        <!-- Iterate children-->
        <div class="navitem entity groupcontainer child pl-3" *ngFor="let child of group.children" 
          (click)="selectEntity(child)" [class.active]="selectedEntity==child" cdkDrag [cdkDragData]="child">
          <app-inline-edit 
            [entity]="child" [entityType]="entityType" [isChild]="true"
            (onUpdate)="onChildUpdate(child)"  (onDelete)="onChildDelete(child)"
          ></app-inline-edit>  
        </div>
  </div>
</div>

