<div class="sidebar-sticky scrollbar left">
  <div class="nav flex-column"  cdkDropList [cdkDropListData]="entities" (cdkDropListDropped)="dropGroup($event)">
    <div class="card ml-1 mb-3 nav-item grabbable" *ngFor="let group of this.entities" cdkDropListGroup cdkDrag [cdkDragData]="group" >
      <div class="card-header p-0 d-flex bg-white"[ngClass]="{'border-bottom': !visible(group)}" >
        <div class="d-flex text-left">
          <div class="btn-group">
            <button (click)="toggle(group)" class="btn btn-link btn">  
              <i title="Close" class="fa fa-icon fa-chevron-down" *ngIf="visible(group)"></i>
              <i title="Open" class="fa fa-icon fa-chevron-right" *ngIf="!visible(group)"></i>
            </button>
            <button class="btn btn-xs btn-link" (click)="edit.emit(group)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-xs btn-link" (click)="delete.emit(group)"><i class="fa fa-trash-alt"></i></button>  
          </div> 
          <div (click)="selectEntity(group)" class="pl-3 bold clickable btn btn-link card-title my-2"  [class.active]="isSelected(group)">
            {{group.name ? group.name : (entityType.toUpperCase() + '.UNTITLED') | translate}} 
            <span class="text-muted" *ngIf="group.summary">- {{group.summary}}</span>                  
          </div>
        </div>
      </div>

      <!-- children-->
      <div class="card-body p-0" [class.hidden]="!visible(group)" >
        <ul class="nav flex-column list-group" id={{group.id}}  
        cdkDropList          
        [cdkDropListData]="group.children" 
        (cdkDropListDropped)="dropItem($event)"
        [cdkDropListConnectedTo]="getConnectedList()">
      <li class="navitem small grabbable list-group-item" *ngIf="!group.children?.length" cdkDrag >&nbsp;</li>
      <li class="nav-item small grabbable list-group-item" *ngFor="let child of group.children" cdkDrag [cdkDragData]="child">
        <div class="row no-gutters">
          <div class="col col-3"  *ngIf="displayOptions?.showImage" >
            <app-optional-image [baseEntity]="child"  [css]="'img-thumbnail w-100'" [entityType]="entityType"></app-optional-image>
          </div>

          <div class="col" [ngClass]="{'col-8' : displayOptions?.showImage}">
            <div class="d-flex">
              <div class="d-flex">
                <button class="btn btn-sm btn-link" (click)="write.emit(child)"><i class="fa fa-feather"></i></button>
                <button class="btn btn-xs btn-link" (click)="edit.emit(child)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-xs btn-link" (click)="delete.emit(child)"><i class="fa fa-trash-alt"></i></button>                  
              </div>
              <div (click)="selectEntity(child)" [ngClass]="{'overflow-ellipsis' : !displayOptions?.showImage}" class="clickable btn-link text-left pl-2 py-1" [class.active]="isSelected(child)" >
                {{child.name ? child.name : (entityType.toUpperCase() + '.UNTITLED_CHILD') | translate}}
                <span class="text-muted" *ngIf="child.summary">- {{child.summary}}</span>
                <span class="ml-2"></span>
                <span *ngIf="todoCount(child) as c"  title="{{c}} TODOs found" class="badge badge-warning ml-1">{{c}}</span>
                <span *ngIf="ideaCount(child) as c"  title="{{c}} ideas found" class="badge badge-primary ml-1">{{c}}</span>
                <span *ngIf="inconsistencyCount(child) as c"  title="{{c}} inconsistencies found" class="badge badge-danger ml-1">{{c}}</span>
                <span *ngIf="doublecheckCount(child) as c"  title="{{c}} check again found" class="badge badge-secondary ml-1">{{c}}</span>
              </div>
            </div>
          </div>   
        </div>           
      </li>
    </ul>
      </div>
    </div>
  </div>
 </div>







<!--

<div class="vertical-bar" cdkDropList [cdkDropListData]="entities" (cdkDropListDropped)="dropGroup($event)">

  <button (click)="addNewParentEntity()" class="btn btn-link btn-lg">
    <i class="fas fa-icon fa-plus pr-1"></i>
    {{'' + entityType + '.NEW' | uppercase | translate}}
  </button>


  <div *ngFor="let group of this.entities" cdkDropListGroup cdkDrag [cdkDragData]="group" >

    <div class="parent navitem pl-0">

      <div class="d-flex align-items-center">
      <span class="flex-none clickable"  (click)="toggle(group)">
        <i class="fa fa-icon fa-chevron-down" *ngIf="visible(group)"></i>
        <i class="fa fa-icon fa-chevron-right" *ngIf="!visible(group)"></i>       
        
      </span>
      <app-inline-edit class="flex-auto w-80"
        [entity]="group" [entityType]="entityType" [isChild]="false"
        (onUpdate)="onParentUpdate(group)" (onNewChild)="onNewChild(group)" (onDelete)="onParentDelete(group)"></app-inline-edit>  
      </div>
   
    </div>


      <div class="nav flex-column w-100 clickable" [class.hidden]="!visible(group)" id={{group.id}}  
          cdkDropList          
          [cdkDropListData]="group.children" 
          (cdkDropListDropped)="dropItem($event)"
          [cdkDropListConnectedTo]="getConnectedList()">
        
        <div class="navitem entity groupcontainer child pl-0" *ngIf="!group.children?.length" cdkDrag >&nbsp;</div>
     
        <div class="navitem entity groupcontainer child pl-3" *ngFor="let child of group.children" 
          (click)="selectEntity(child)" [class.active]="selectedEntity==child" cdkDrag [cdkDragData]="child">
          <div class="row border-bottom mr-0" *ngIf="displayOptions.showImage">
            <div class="col-3 pl-0 pr-0">
            <app-optional-image [baseEntity]="child"  [css]="'thumbnail w-100'" [entityType]="entityType"></app-optional-image>
            </div>
            <div class="col-9 pl-0 pr-0">
              <div class="h6 p-1 nav-item mb-0 ">
                  <div class="ml-2">
                    {{child.name ? child.name : entityType.toUpperCase() + '.UNTITLED' + (isChild ? '_CHILD' : '') | translate}}
                  </div>      
                  <div class="ml-2 small hint" *ngIf="child.summary">
                    {{child.summary}}
                  </div>
              </div>
            </div>
          </div>

          <div class="row border-bottom mr-0" *ngIf="!displayOptions.showImage">
          <div class="h6 p-1 nav-item mb-0 ">
              <div class="ml-2">
                {{child.name ? child.name : entityType.toUpperCase() + '.UNTITLED' + (isChild ? '_CHILD' : '') | translate}}
              </div>      
              <div class="ml-2 small hint" *ngIf="child.summary">
                {{child.summary}}
              </div>
          </div>
          </div>
        </div>
  </div>
</div>
-->
