
.vertical-bar {
	background-color: rgba(0, 0, 0, 0.03);
	/*border-right: 1px solid rgba(0, 0,0,0.125);*/
	height: 100%;
	top:3em;
	padding-top: 2em;
	width: 14em;
	position: fixed;
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
	overflow: auto;

	li {
		border-bottom: 1px solid rgba(0,0,0,0.125);
		padding-top: 1em;
		padding-bottom: 1em;
    }

    li.active {       
        background-color: #ffffff;
        margin-right: -0.1em;
	}

	li:not(.active) {
		border-right: 1px solid rgba(0, 0,0,0.125);
	}

	.groupcontainer {
		position: relative;
		width: 100%;
	}
	
	.group {
		background-color: rgba(0, 0, 0, 0.125);
	}


	.hidden {
		display: none;
	} 

	.options {
		position: absolute;
    top: 0;
    padding: 0;
		margin: 0;
		right: 0;
		background-color: transparent;
		display: none;

		i {
			font-size: 0.8em;
		}

	}

	.groupcontainer {
		&:hover .options{
			display: block;

		}
	}
}


.inline-editing,
.inline-editing * {
	z-index: 10000;
}

	
.modal-mask {
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}