  <div class="container">
    <form [formGroup]="exportForm" (ngSubmit)="onSubmit()">
    <div class="row">
       <div class="col-12">
        <div class="card">
          <div class="card-header" translate>EXPORT.OPTIONS_HEADER</div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" translate>EXPORT.AUTHOR</label>
                  <input type="email" formControlName="author" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" translate>EXPORT.TITLE</label>
                  <input type="email" formControlName="title" class="form-control" id="exampleInputEmail1">
                </div>
                <!--<div class="form-group">
                  <label for="exampleInputEmail1" translate>EXPORT.ISBN</label>
                  <input type="email" formControlName="isbn"  class="form-control" id="exampleInputEmail1">
                </div>-->
                <div class="form-group">
                  <div class="d-flex">
                    <div class="pr-3">
                      <label for="exampleInputEmail1" translate>EXPORT.PAGE_HEIGHT</label>
                      <input type="number" formControlName="pageHeight" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div>
                      <label for="exampleInputEmail1" translate>EXPORT.PAGE_WIDTH</label>
                      <input type="number" formControlName="pageWidth"  class="form-control" id="exampleInputEmail1">
                    </div>
                  </div>                    
                </div>


                <div class="form-group">
                  <div class="d-flex">
                    <div class="pr-3">
                      <label for="exampleInputEmail1" translate>EXPORT.PAGE_MARGIN_INNER</label>
                      <input type="number" formControlName="marginInner" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div>
                      <label for="exampleInputEmail1" translate>EXPORT.PAGE_MARGIN_OUTER</label>
                      <input type="number" formControlName="marginOuter" class="form-control" id="exampleInputEmail1">
                    </div>
                  </div>                    
                </div>
                <div class="form-group">
                  <div class="d-flex">
                    <div class="pr-3">
                      <label for="exampleInputEmail1" translate>EXPORT.PAGE_MARGIN_TOP</label>
                      <input type="number" formControlName="marginTop" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div>
                      <label for="exampleInputEmail1" translate>EXPORT.PAGE_MARGIN_BOTTOM</label>
                      <input type="number" formControlName="marginBottom" class="form-control" id="exampleInputEmail1">
                    </div>
                  </div>                    
                </div>

              </div>
              <div class="col-6">
                <div class="form-group">
                  <ng-select [multiple]="true" [clearable]="false" [items]="contentOptions" formControlName="include"></ng-select>
                </div>
            
                <div class="form-group">
                  <ng-select [clearable]="false" [items]="formatOptions" formControlName="format"></ng-select>
          
                  <div *ngIf="exportForm.value.format === 'PDFLATEX'">
                    <div class="alert alert-info mt-3">
                      {{'EXPORT.PDFLATEX_HINT' | translate}}
                      <div class="small">          
                        <b>For Ubuntu:</b>sudo apt-get install pandoc texlive-latex-base texlive-latex-recommended texlive-latex-extra texlive-latex-fonts-extra texlive-lang-german       </div>
                    </div>
                  </div>  
                </div>
            
                <div class="formgroup mt-3">
                  <button class="btn btn-primary" type="submit" [disabled]="processing">
                    <i class="fas fa-cog fa-spin" *ngIf="processing"></i>
                    {{'EXPORT.EXPORT' | translate}}
                  </button>
                </div>
              </div>
            </div>  
          </div> 
        </div>
  
      </div>
    </div>
    </form>




    <div class="exports mt-3">
      <div class="card">
        <div class="card-header" translate>EXPORT.FOUND_EXPORTS_HEADER</div>
        <div class="card-body">
          <div *ngIf="!existingExports.length" class="hint" translate>EXPORT.NO_EXPORTS</div>
          <ul class="list-group  list-group-flush" *ngIf="existingExports.length">
            <li  class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let filename of existingExports">
              {{filename}}
              <button class="btn btn-link" (click)="openExport(filename)"><i class="fa fa-folder-open"></i></button>
            </li>
          </ul>
          </div>
        </div>
    </div>  
  </div>
