<div class="container">
   <h1 translate>PROJECTS</h1>

  <a [routerLink]="['/projects/add']" class="btn btn-primary" translate>NEW_PROJECT</a>


  <ul class="list-group" *ngIf="entities?.length">
    <li  *ngFor="let ent of entities" class="list-group-item">
      <span class="d-flex flex-row">
        {{ent.name}}
        <span class="btn-group">
        </span>
        <button class="btn btn-primary" (click)="open(ent)" translate>PROJECT_OPEN</button>
        <a  [routerLink]="'/projects/edit/' + ent.id" class="btn btn-primary" translate>PROJECT_EDIT</a>
        <button class="btn btn-primary" (click)="deleteGroup(ent.id)" translate>PROJECT_DELETE</button>
      </span>
    </li>
  </ul>

</div>