
<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div [froalaEditor]="editorOptions" [(froalaModel)]="content"></div>             
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary"  (click)="save()" translate>SAVE</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()" translate>CLOSE</button>
</div>



