
<div class="main">
  <div class="toolbar border-bottom pt-3">
    <div class="row m-0">
      <div class="col col-4">
        <div class="d-flex justify-content-between p-3">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1">
            <span>{{'' + entityType() + '.NEW' | uppercase | translate}}</span>
            <button class="d-flex align-items-center btn btn-link btn-lg clickable" (click)="addNewGroup()" >
              <i class="fas fa-icon fa-plus pr-1"></i>
            </button>
          </h6>
        </div>
      </div>
      <div class="col col-8">
        <div class="d-flex justify-content-between p-3">
          <!--<h1 class="h4 text-muted text-nowrap">{{selectedEntity?.name}}</h1>-->
          <div class="button-group" *ngIf="selectedEntity">
            <button class="btn btn-primary"  (click)="continueWriting()" *ngIf="!selectedEntityIsParent()">Continue writing</button>
            <button class="btn btn-primary"  (click)="addNewMember(selectedEntity)" *ngIf="selectedEntityIsParent()">Add chapter</button>
            <button class="btn btn-primary" (click)="editDetails()">Edit details</button>
            <button class="btn btn-danger" (click)="deleteSelectedEntity()">Delete</button>              
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row h-100 m-0 p-0">
      <nav class="col-4 d-none d-md-block bg-light sidebar pt-3 pl-1 pr-1  border-right">
        <app-vertical-bar [entities]="entities" [entityType]="entityType()" [selectedEntity]="selectedEntity" [displayOptions]="displayOptions()"
          (select)="select($event)" (updateOrder)="updateOrder($event)"></app-vertical-bar>
      </nav>
      <main role="main" class="col-8 pt-3 ">
        <div class="wrapper scrollbar">
          <div *ngIf="entities.length===0">
            <div class="alert alert-light" role="alert">
               <span>{{'' + entityType() + '.NONE_YET_HEADER' | uppercase | translate}}</span>
               <br >
               <span>{{'' + entityType() + '.NONE_YET_INFO' | uppercase | translate}}</span>
            </div>
          </div>
          <div *ngIf="entities.length!==0&&selectedEntity&&selectedEntityIsParent()&&selectedEntity.children.length == 0">           
           <div class="alert alert-light" role="alert">
            <span>{{'' + entityType() + '.NO_CHILDREN_YET_HEADER' | uppercase | translate}}</span>
            <br >
            <span>{{'' + entityType() + '.NO_CHILDREN_YET_INFO' | uppercase | translate}}</span> 
          </div>
          </div>
          <div *ngIf="selectedEntity" [froalaView]="getContent()"></div>
      </div>
      </main>
  </div>
</div>

