
<div class="d-flex h-100">
<app-vertical-bar [entities]="entities" [entityType]="entityType()" [selectedEntity]="selectedEntity"
  (updateGroup)="updateGroup($event)"
  (updateMember)="updateMember($event)"
  (addNewGroup)="addNewGroup($event)"
  (addNewMember)="addNewMember($event)"
  (deleteGroup)="deleteGroup($event)"
  (deleteMember)="deleteMember($event)"
  (select)="select($event)"
  (updateOrder)="updateOrder($event)"
  ></app-vertical-bar>

<div class="main-wrapper">
  <div class="container">
    <div *ngIf="!entities?.length" class="jumbotron w-100">
      <h1 class="display-6" translate>{{(entityType() | uppercase)  + '.NONE_YET_HEADER' | translate}}</h1>
      <span translate>{{(entityType() | uppercase)  + '.NONE_YET_INFO' | translate}}</span>
    </div>
    
    <div *ngIf="entities?.length&&!selectedEntity" class="jumbotron w-100">
      <h1 class="display-6">{{(entityType() | uppercase)  + '.NO_CHILDREN_YET_HEADER' | translate}}></h1>
      <span>{{(entityType() | uppercase)  + '.NO_CHILDREN_YET_INFO' | translate}}</span>
    </div>

    <button class="btn btn-primary" (click)="openEditor()"><i class="fa fa-icon fa-pen"></i></button>

    <div *ngIf="selectedEntity?.notes" [froalaView]="selectedEntity?.notes"></div>
    <div *ngIf="!selectedEntity?.notes" class="hint">You haven't written anything yet.</div>



    <div *ngIf="editorOpen" class="modal-open modal-big">
      <div class="modal-mask"></div>
      <div  class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{selectedEntity?.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditor()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div [froalaEditor] [(froalaModel)]="selectedEntity.notes"></div>                 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  (click)="saveAndCloseEditor()">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeEditor()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
