<div class="content-wrapper">
  <div class="toolbar  bg-white border-bottom pt-0">
    <div class="row no-gutters h-100">
      <div class="col col-5">
        <div class="d-flex p-3">
          <div>
            <button class="d-flex align-items-center btn btn-primary clickable mr-3" (click)="addNewGroup()" >
            <i class="fas fa-icon fa-plus pr-1"></i>
            <span>{{'' + entityType() + '.NEW' | uppercase | translate}}</span>
          </button>
          </div>
          <div>
          <ng-select [clearable]="false" [multiple]="true" [(ngModel)]="selectedDisplayContent" (clear)="resetView()" (add)="toggleView($event)" (remove)="toggleView($event)">
            <ng-option [value]="'summary'">{{'SUMMARY' | translate}}</ng-option>
            <ng-option [value]="'extended_summary'">{{'EXTENDED_SUMMARY'  | translate}}</ng-option>
            <ng-option [value]="'content'">{{'CONTENT' | translate}}</ng-option>
          </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadingtemplate>
    <div class="container">
      <div class="loader"></div>
    </div>
  </ng-template>
    <div class="row h-100 no-gutters" *ngIf="!loading||entities.length; else loadingtemplate">
      <nav class="col-5 d-none d-md-block sidebar pt-0 pl-1 pr-1">
        <app-vertical-bar [groupBy]="groupBy" [entities]="entities" [entityType]="entityType()" [selectedEntity]="selectedEntity" [displayOptions]="displayOptions()"
          (select)="select($event)" 
          (updateOrder)="updateOrder($event)" 
          (write)="continueWriting($event)"
          (delete)="deleteEntity($event)"
          (add)="addNewMember($event)"
          (edit)="editDetails($event)"></app-vertical-bar>
      </nav>
      <main role="main" class="col-7 pt-0 ">
        <div class="wrapper scrollbar card bg-white px-3">
          <div *ngIf="entities.length===0">
            <div class="alert alert-light" role="alert">
                <span>{{'' + entityType() + '.NONE_YET_HEADER' | uppercase | translate}}</span>
                <br >
                <span>{{'' + entityType() + '.NONE_YET_INFO' | uppercase | translate}}</span>
            </div>
          </div>
          <div *ngIf="entities.length!==0&&selectedEntity&&selectedEntityIsParent()&&selectedEntity.children.length == 0">           
            <div class="alert alert-light" role="alert">
            <span>{{'' + entityType() + '.NO_CHILDREN_YET_HEADER' | uppercase | translate}}</span>
            <br >
            <span>{{'' + entityType() + '.NO_CHILDREN_YET_INFO' | uppercase | translate}}</span> 
          </div>
          </div>
          <div *ngIf="selectedEntity">
            <div *ngFor="let child of getChildren()">
              <h4 class="text-muted">{{child.name ? child.name : ''}}</h4>
              <b class="bold" *ngIf="showSummary()">{{child.summary ? child.summary : ''}}</b>
              <div [froalaView]="child.detailedSummary ? '<i>' + child.detailedSummary + '</i>' : ''" *ngIf="showExtendedSummary()"></div>
              <hr >
              <div *ngIf="showContent()" [froalaView]="child.notes"></div>
            </div>
          </div>
      </div>
      </main>
  </div>
</div>
