<div class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <span class="navbar-brand">WORTOMAT</span>
    <!-- Show this menu if the user already selected a novel for writing-->
    <ul class="navbar-nav nav-tabs" *ngIf="isProjectOpened();else no_open_project" role="tablist">
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/books']" translate>MENU.NOVEL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/content']" translate>Content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/chapters']" translate>MENU.CHAPTERS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/plotlines']" translate>MENU.PLOTLINES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/characters']" translate>MENU.CHARACTERS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/export']" translate>MENU.EXPORT</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/about']" translate>MENU.ABOUT</a>
        </li>
    </ul>

    <!--Show this menu when no novel has been created/selected-->
    <ng-template #no_open_project>
        <ul class="navbar-nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/projects']" translate>MENU.PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/about']" translate>MENU.ABOUT</a>
            </li>
        </ul>
    </ng-template>
</div>
    <notifier-container></notifier-container>

<router-outlet></router-outlet>

