.navbar.fixed-top {
	.nav-link.active {
		color: #343a40 !important;
	}
	.nav-tabs {
		border-bottom: 0;
	}	
	.nav-tabs > li > a{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
		color: #d2d2d2;
	}
	.nav-tabs .nav-link:hover {
		border-color: transparent;
	}
}

.wrapper {
	width: 100%;
}


#wrapper {
	text-align: center;
	margin: auto;
}