

<div class="d-flex h-100">
<app-vertical-bar [entities]="entities" [entityType]="'parts'" [selectedEntity]="selectedEntity"
  (updateGroup)="updateGroup($event)"
  (updateMember)="updateMember($event)"
  (addNewGroup)="addNewGroup($event)"
  (addNewMember)="addNewMember($event)"
  (deleteGroup)="deleteGroup($event)"
  (deleteMember)="deleteMember($event)"
  (select)="select($event)"
  (updateOrder)="updateOrder($event)"
  ></app-vertical-bar>

<div class="main-wrapper">
  <div class="container">
    <div *ngIf="!entities?.length" class="jumbotron w-100">
      <h1 class="display-6" translate>PARTS.NONE_YET_HEADER</h1>
      <span translate>PARTS.NONE_YET_INFO</span>
    </div>
    
    <div *ngIf="entities?.length&&!selectedEntity" class="jumbotron w-100">
      <h1 class="display-6" translate>PARTS.NO_CHILDREN_YET_HEADER</h1>
      <span translate>PARTS.NO_CHILDREN_YET_INFO</span>
    </div>


    {{selectedEntity?.id}}

  </div>
</div>
</div>
