
<div class="container">
   <h1 translate>PARTS</h1>

  <a [routerLink]="['/parts/add']" class="btn btn-primary" translate>NEW_PART</a>


  <ul class="list-group" *ngIf="entities?.length">
    <li  *ngFor="let ent of entities" class="list-group-item">
      <span class="d-flex flex-row">
        {{ent.name}}
        <span class="btn-group">
        </span>
        <a  [routerLink]="'/chapters/add/' + ent.id" class="btn btn-primary" translate>PART_NEW_CHAPTER</a>
        <a  [routerLink]="'/parts/edit/' + ent.id" class="btn btn-primary" translate>PART_EDIT</a>
        <button class="btn btn-primary" (click)="deleteGroup(ent.id)" translate>PART_DELETE</button>
      </span>
      <ul class="list-group">
            <li  *ngFor="let chapter of ent.chapters" class="list-group-item">
            {{chapter.name}}
              <a  [routerLink]="'/chapters/edit/' + chapter.id" class="btn btn-primary" translate>CHAPTER_EDIT</a>
              <button class="btn btn-primary" (click)="deleteMember(chapter.id)" translate>CHAPTER_DELETE</button>
            </li>


      </ul>
    </li>
  </ul>

</div>


<button class="btn btn-primary" (click)="closeProject()">PROJECT_CLOSE</button>
