
@import "~angular-notifier/styles";
@import "~@fortawesome/fontawesome-free/css/all.min.css";



/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  margin-top : 10em;
}

.grabbable {
	cursor: move;
	opacity: 0.25;
}
.clickable {
	cursor: pointer;
}


/**
Spinner 
*/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.main-wrapper {
  position: absolute;
  left: 18em;
}

.navbar-brand {
  width: 12em;
}

.button-group {
  width: 100%;
  text-align: right;

  .btn:not(:first-child) {
    margin-left: 0.5em;
  }
}

.btn-link.danger {
  color: red;
}


.greyImage {
    filter: grayscale(100%);
}


.hidden {
  display: none;
} 
