
@import "~angular-notifier/styles";
@import "~@fortawesome/fontawesome-free/css/all.min.css";




/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*overflow: hidden;*/
}

.main {
  padding-top: 45px;
  height: calc(100vh - 100px);
}

.scrollbar.left {
  direction: rtl;
}

.scrollbar > * {
  direction: ltr;
}

.scrollbar::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bbb;
}
.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

.ng-select .ng-select-container {
  height: 38px !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-top: 2px !important;
  padding-left: 2px !important;
  padding-bottom: 2px !important;
  
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-right-width: 0px !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  font-size: 8em;
  border: 1px solid #d2d2d2;
  padding: 0.3em 0;
  margin-bottom: 0 !important;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
  width: 2em !important;
}
.container {
  margin-top : 5em;
}


.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-group .btn-primary {
  border-color: #0062cc;
}

.modal-backdrop { z-index:1050; }


.confirmation-modal {

  .modal-backdrop {
    z-index: 1000001 !important;
  }

  .modal {
    margin: 30vh auto;
    z-index: 1000002 !important;
  }
}
  

.wrapper {
	position: sticky;
  top: 0;
  height: 100%;
  margin-top: .5rem;
  padding-top: .375rem;
  overflow-x: hidden;
	overflow-y: auto;
}

.grabbable {
	cursor: move;
}
.clickable {
	cursor: pointer;
}

.modal-open .modal {
  display: block;
  z-index: 100000;
}

.modal-mask {
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

.modal-big .modal-dialog {
    max-width: 1000px !important;
}

.fr-element.fr-view {
  max-height: 700px;
}

.fr-view .fr-class-todo-marker {
  background-color: #ffc107;
}
.fr-view .fr-class-idea-marker {
  background-color: #007bff;
  color: #fff;
}
.fr-view .fr-class-inconsistency-marker {
  background-color: #dc3545;
  color: #fff;
}
.fr-view .fr-class-doublecheck-marker {
  background-color: #6c757d;
  color: #fff;
}

.btn-xs {
  font-size: 1em !important;
  padding: 0.125em .25em !important;
}

.fr-element::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}
.fr-element::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bbb;
}
.fr-element::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

.modal.show {
  height: auto !important;
}



/**
Spinner 
*/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.main-wrapper {
  position: absolute;
  left: 22em;
  margin-top: 0.5em;
}

.navbar-brand {
  width: 12em;
}

.button-group {
  width: 100%;
  text-align: right;

  .btn:not(:first-child) {
    margin-left: 0.5em;
  }
}

.btn-link.danger {
  color: red;
}


.greyImage {
    filter: grayscale(100%);
}


.hidden {
  display: none;
} 
