<div class="modal-header">
  <h5 class="modal-title" translate>EDIT_DETAILS</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="row mx-0">
      <div class="col col-4" *ngIf="displayOptions?.showImage" >    
        <app-image-upload [baseEntity]="baseEntity" [entityType]="entityType"></app-image-upload>
      </div>
      <div class="col" [ngClass]="{'col-8' : displayOptions?.showImage}">
        <div class="form form-group w-100 p-1">
          <small class="form-text text-muted" translate>NAME_HINT</small>
          <input class="form-control w-100" type="text" [(ngModel)]="baseEntity.name"/>
        </div>
        <div class="form form-group w-100 p-1">
          <div><small class="form-text text-muted" translate>SUMMARY_HINT</small></div>
          <input class="form-control pr-0 w-100" type="text" [(ngModel)]="baseEntity.summary" />
        </div>
      </div>
    </div>
    <div>
  </div> 
  
  <div class="row mx-0">
    <div class="col">
      <div class="form form-group w-100 p-1">
        <div><small class="form-text text-muted" translate>STATUS.STATUS</small></div>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="baseEntity.status" >
          <label *ngFor="let status of getStatus()" class="btn btn-primary with-border clickable" [ngClass]="{'active': active(baseEntity, status)}" ngbButtonLabel>
            <input type="radio" ngbButton [value]="status">{{'STATUS.' + status | translate}}
          </label>
        </div>
      </div> 
    </div>
  </div> 

    <div class="row mx-0">
    <div class="col">
      <div class="form form-group w-100 p-1">
        <div><small class="form-text text-muted" translate>DETAILED_SUMMARY_HINT</small></div>
        <div [froalaEditor]="editorOptions" [(froalaModel)]="baseEntity.detailedSummary"></div>                 
      </div> 
    </div>
  </div>            
</div>
<div class="modal-footer">
  <div class="button-group mt-1 w-100 p-1">
    <button class="btn btn-primary" (click)="save()" translate>
      SAVE
    </button>
    <button class="btn btn-primary" (click)="close()" translate>
    CLOSE
    </button>
  </div>
</div>